{% extends "base.html" %} {% block title %}login{% endblock %} {% block content
%}
<div class="form-box">
  <h2 class="form-title">login</h2>

  <form method="POST">
    <label for="email">email</label>
    <input type="text" id="email" name="email" required />

    <label for="password">password</label>
    <input type="password" id="password" name="password" required />
    <p>
      <a
        class="forgot-password-link"
        href="{{ url_for('frontend.forgot_password') }}"
      >
        forgot your password?
      </a>
    </p>

    <button type="submit" class="submit-btn">login</button>
  </form>

  <p class="signup-text">
    new to the digest?
    <a href="{{ url_for('frontend.subscribe') }}"
      >subscribe &amp; create an account</a
    >
  </p>
  <p class="signup-text">
    subscribed but never set a password?
    <a href="{{ url_for('frontend.subscribe') }}">request a magic link</a>
  </p>
</div>
{% endblock %}
